# Dependencies
node_modules/
.pnpm-store/

# Build and Output directories
dist/
dist-ssr/
build/
out/
*.tsbuildinfo

# Local Environment Secret Files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.pem

# Log Files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite & Tool Caches
.vite/
.cache/
.eslintcache

# Editor & System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE Settings
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
